[submodule "packages/AIMORA.jl"]
	path = packages/AIMORA.jl
	url = https://github.com/AIMORA-dev/AIMORA.jl.git
[submodule "packages/AIMORACases.jl"]
	path = packages/AIMORACases.jl
	url = https://github.com/AIMORA-dev/AIMORACases.jl.git
[submodule "packages/AIMORACatalogs.jl"]
	path = packages/AIMORACatalogs.jl
	url = https://github.com/AIMORA-dev/AIMORACatalogs.jl.git
[submodule "references/BPAEMTPReference.jl"]
	path = references/BPAEMTPReference.jl
	url = https://github.com/AIMORA-dev/BPAEMTPReference.jl.git
